.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #2c3d55;
  color: floralwhite;
  padding: 25px 0px 0px 0px;
}

.jumbotron {
  background-color: #f06543;
  color: floralwhite;
  margin: 0px auto;
  padding: 70px 30px;
}

.address {
  font-size: 90%;
  margin: 10px auto;
  color: honeydew;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.navbar-dark {
  background-color: teal;
}

.nav-item {
  padding: 0px 10px 0px 10px;
}
